.hideAtStart {
    display:none;
}

#mainMarketing {
    margin-top: 0px;
    margin-bottom: 0px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/img/glyphicons-halflings.png");
}
